@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700;900&display=swap');

*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    
}
.container{
    width: 80%;
    padding: 20px;
    margin: 1 rem auto;
    
}
.form {
    width: 60%;
    margin: 0 auto;
    padding: 1 rem;
    background-color: #f1f1f1;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    margin-left: 30%;
    
}
.form>h1 {
    text-align: center;
    margin-bottom: 2%;
    margin-top: 5%;
    color: #333;
    
}
.form-group{
    margin-bottom: 5%;
    width: 96%;
    margin-left: 2%;
    
}
.form-input{
    padding: 1rem;
    border: 1px solid #ccc;
    border: none;
    width: 100%;
    border-bottom: 2px solid rgb(248,98,10);
    
}
button{
    padding: 1rem 2rem;
    border: none;
    background-color:orangered;
    color:white;
    font-size: 1.25rem;
    cursor: pointer;
    transition: all .3s ease;
    margin-top: 2px;
    margin-bottom: 5%;
    margin-left: 3%;
}
